<div
  class="relative min-h-screen flex items-center justify-center px-4 bg-cover bg-center bg-no-repeat"
  style="
    background-image: url('https://media2.dev.to/dynamic/image/width=1600,height=900,fit=cover,gravity=auto,format=auto/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/bp1dx1b0rv3p8zij896i.png');
  "
>
  <!-- Main Content -->
  <div class="relative z-10 w-full max-w-lg text-center">
    <!-- Logo -->
    <div class="flex justify-center mb-6">
      <div class="w-16 h-16 rounded-full bg-[#7355a1] flex items-center justify-center shadow-lg">
        <img src="https://framerusercontent.com/images/1cSAzSXl87VyotAiLwsIyNezE.svg" />
      </div>
    </div>

    <!-- Hero Heading -->
    <h1 class="text-[38px] text-gray-800 font-semibold leading-tight">
      Join the
      <span class="italic niconne text-[#7355a1] text-5xl">Waitlist</span>
    </h1>

    <!-- Subtitle -->
    <p class="text-gray-700 mt-4 max-w-md mx-auto">
      Be among the first to experience the future of healthcare. Sign up to secure early access when
      we launch.
    </p>

    <!-- Glass Card -->
    <div
      class="mt-10 backdrop-blur-xl bg-white/20 border border-white/30 rounded-2xl shadow-2xl p-8"
    >
      <h2 class="text-lg font-semibold text-black">Join our beta waitlist</h2>

      <p class="text-sm text-gray-700 mb-6">
        Enter your details below and we’ll notify you when access opens.
      </p>

      <!-- Form -->
      <div class="space-y-4">
        <app-input-field
          label="Full Name"
          placeholder="John Doe"
          [formControl]="$any(form.get('name'))"
          [errorMessage]="nameError"
        />

        <app-input-field
          label="Email Address"
          type="email"
          placeholder="john@example.com"
          [formControl]="$any(form.get('email'))"
          [errorMessage]="emailError"
        />

        <!-- Success -->
        <p
          *ngIf="successMessage"
          class="text-sm text-green-600 text-center bg-green-50 rounded-xl py-3 px-4"
        >
          {{ successMessage }}
        </p>

        <!-- Error -->
        <p *ngIf="errorMessage" class="text-sm text-red-400 text-center">
          {{ errorMessage }}
        </p>
        <div class="flex items-center mt-4 justify-center">
          <app-button
            label="Join Waitlist"
            type="submit"
            [loading]="isLoading"
            (onClick)="onSubmit()"
          />
        </div>
        <!-- Button -->
      </div>
    </div>

    <!-- Footer -->
    <p class="text-sm mt-8">
      Have an invite code?
      <a routerLink="/invite" class="font-semibold text-purple-800 underline underline-offset-2">
        Verify code
      </a>
    </p>
  </div>
</div>
